div {
  &.rendered-react-keyed-file-browser div {
    &.action-bar {
      margin-bottom: 0.5rem;
      flex-wrap: wrap;
      display: flex;
      align-items: flex-start;
      input[type="search"] {
        display: block;
        flex-grow: 2;
        min-width: 300px;
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        line-height: 1em;
        margin-bottom: 0.5rem;
        border: 0.1rem solid #ddd;
      }
      .item-actions {
        text-align: right;
        margin: 0;
        padding: 0;
        line-height: 1.5rem;
        font-size: 1rem;
      }
      ul.item-actions {
        display: block;
        flex-grow: 1;
        min-width: 300px;
        margin-left: 10px;
        white-space: nowrap;
        li {
          display: inline-block;
          margin: 0;
          &:not(:last-child) {
            margin-right: 0.5rem;
          }
        }
      }
    }
    &.files table {
      width: 100%;
      margin-bottom: 2rem;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      th, td {
        font-size: 1rem;
        font-weight: normal;
        text-align: left;
        margin: 0;
        padding: 0.5rem;
      }
      th {
        font-weight: bold;
        &.size, &.modified {
          text-align: right;
        }
      }
      td {
        &.size, &.modified {
          text-align: right;
        }
      }
      th.name i, td.name i {
        padding-right: 0.5rem;
      }
      thead th {
        border-bottom: 0.1rem solid #ddd;
      }
      tr:not(:last-child) td {
        border-bottom: 0.1rem solid #eee;
      }
      td.name {
        padding-left: 0.8rem;
        form.renaming {
          display: flex;
          align-items: center;
          i {
            flex-grow: 0;
            flex-shrink: 0;
          }
          input[type="text"] {
            flex: 1;
          }
        }
      }
      tr {
        td {
          cursor: pointer;
        }
        &.selected td {
          font-weight: bold;
          input, button {
            font-weight: normal;
          }
          &.name {
            position: relative;
            &:after {
              content: ' ';
              position: absolute;
              left: 0;
              top: 0;
              width: 0.3rem;
              height: 100%;
              background: #1d4567;
            }
          }
        }
        &.dragover {
          td, th {
            background: #eee;
          }
        }
      }
    }
  }
  &.rendered-file-browser {
    div.files {
      li {
        &.file {
          &.pending, &.dragging {
            opacity: 0.4;
          }
        }
        &.folder {
          &.pending, &.dragging {
            opacity: 0.4;
          }
        }
        &.file.dragover, &.folder.dragover {
          background: #eee;
        }
        &.file.selected > div.item, &.folder.selected > div.item {
          color: #fff;
          background: #ccc;
        }
        &.file.selected > div.item .text-muted, &.folder.selected > div.item .text-muted {
          color: #e6e6e6;
        }
        &.file.selected > div.item {
          a:not(.btn), &.folder a:not(.btn), i {
            color: #fff;
          }
        }
        &.folder.selected > div.item {
          a:not(.btn), &.folder a:not(.btn), i {
            color: #fff;
          }
        }
      }
      ul {
        list-style: none;
        padding: 0;
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(3, 1fr);
        li {
          &.folder {
            grid-column: 1/4;
            > {
              div.item {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 4px;
                border: 1px solid #eee;
                span {
                  &.name {
                    flex: 1;
                    line-height: folder-size;
                  }
                  &.thumb {
                    flex-basis: 45px;
                    border: none;
                    text-align: center;
                    > i {
                      line-height: 45px;
                      font-size: 18px;
                    }
                  }
                }
                form.renaming {
                  margin-top: 8px;
                  margin-right: 8px;
                }
              }
              p {
                margin: 8px;
                margin-bottom: 0;
                padding: 0;
              }
            }
            &.expanded {
              padding-bottom: 8px;
              border-bottom: 1px solid #eee;
              border-left: 4px solid #eee;
              border-right: 1px solid #eee;
              > div.item {
                padding-left: 0px;
                margin-right: -1px;
                margin-left: -1px;
              }
              &.selected {
                border-bottom: 1px solid #ccc;
                border-left: 4px solid #ccc;
                border-right: 1px solid #ccc;
              }
            }
          }
          &.selected.folder > div.item {
            border: 1px solid #bfbfbf;
            span.thumb {
              border: none;
            }
          }
          &.file {
            margin: 4px;
            padding: 0;
            > div.item {
              display: flex;
              flex-direction: column;
              padding: 4px;
              margin: 0;
              span.thumb {
                flex-basis: 120px;
                text-align: center;
                position: relative;
                border: 1px solid #eee;
                margin-bottom: 10px;
                > i {
                  font-size: 40px;
                  line-height: 120px;
                }
                div.image {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-size: cover;
                  background-position: 50% 50%;
                  background-repeat: no-repeat;
                }
              }
            }
          }
          &.selected.file > div.item span.thumb {
            border: 1px solid #bfbfbf;
            div.image {
              opacity: 0.8;
            }
          }
        }
      }
    }
    p {
      &.loading, &.empty {
        margin: 16px 0;
      }
    }
  }
}